.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.header {
  text-align: center;
  width: 100%;
  padding: 10px;
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* Fondo semitransparente para evitar que se vea la tabla */
}

.title {
  font-size: 2rem;
  /*font-weight: bold; */
  font-family: 'Poppins', sans-serif;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.buttonGroup :hover {
  background-color: #5897e0;
}

.buttonGroup button {
  padding: 10px 25px;
  font-size: 16px;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
}

.buttonGroup button.Descargar {
  background-color: #fdcf00;
  transition: background-color 0.3s ease;
  color: black;
}

.buttonGroup button.Descargar :hover {
  background-color: #fdcf005e;
}

.buttonGroup button.Detalles {
  background-color: #0d6e12;
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255);
}
 
.buttonGroup button.Detalles :hover {
  background-color: #0edd18;
}

.buttonGroup button.Guardar {
  background-color: #1c7d8a;
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255);
}
 
.buttonGroup button.Guardar :hover {
  background-color: #1c7d8a73;
}

.filterInput {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

.tableContainer {
  width: 100%;
  height: 680px;
  overflow-y: auto;
  overflow-x: auto;
  padding: 0;
  margin-top: 10px;
  position: relative;
  display: block;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
}

.table th,
.table td {
  padding: 12px 8px;
  border: 1px solid #000;
  text-align: center;
  font-family: 'Poppins', sans-serif;

  vertical-align: middle;
}

.table th {
  background-color: #FFA500;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
}

.table thead tr:first-child th {
  top: 0;
}

.table thead tr:nth-child(2) th {
  top: 48px;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #ddd;
}

.table td {
  font-size: 14px;
}

.narrowColumn {
  width: 150px;
  max-width: 150px;
  min-width: 150px;
}

.narrowMColumn {
  width: 120px;
  max-width: 120px;
  min-width: 120px;
}

.mediumColumn {
  width: 200px;
  min-width: 200px;
}

.wideColumn {
  width: 300px;
  min-width: 300px;
}

.comentariosColumn {
  width: 250px;
  min-width: 250px;
}

.detallesTitle {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.detallesButtonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.detallesButtonContainer button {
  padding: 10px 25px;
  font-size: 16px;
  color: #fff;
  background-color: #60be57;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.detallesButtonContainer button:hover {
  background-color: #89c783;
}

.tableTitle {
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #0070f3;
  font-weight: 600;
}