.downloadButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: var(--font-poppins), sans-serif;
  transition: all 0.2s ease;
}

.paretoContainer {
  width: 100%;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.637);
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.downloadButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
}

.paretoTitle {
  color: rgb(27, 113, 153);
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.paretoInfo {
  text-align: center;
  color: rgb(27, 113, 153);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
